<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
    {% if has_changed_password %}
        <div style="background: palegreen; color: seagreen;border: solid 2px seagreen;padding: 10px;">
            <p>Password has been successfully updated.</p>
        </div>
    {% endif %}
    <h2>Change Password Form</h2>
    <form method="POST" action="{% url 'users:change_password' %}">
        {% csrf_token %}
        {{ change_password_form.as_p }}
        <input type="submit" value="Change Password">
        <script type="text/javascript">
            document.getElementById('id_password').setAttribute('type','password');
        </script>
    </form>
</body>
</html>