<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div style="background: palegreen; color: seagreen;border: solid 2px seagreen;padding: 10px;">
            <p>Successful login.</p>
        </div>
        <h2>User Details:</h2>
        <hr>
        <ul>
            <li>First Name: {{ user.first_name }}</li>
            <li>Last Name: {{ user.last_name }}</li>
            <li>Email Address: {{ user.email }}</li>
            <li>Username: {{ user.username }}</li>
            <li>Password: {{ user.password }}</li>
        </ul>
        <hr>
        <p><a href="{% url 'users:logout' %}">Log Out</a></p>
    {% else %}
        <div style="background: indianred; color: darkred;border: solid 2px darkred;padding: 10px;">
            <p>You are not logged in. Log in to see your details.</p>
            <p><a href="{% url 'users:login' %}">Log in here</a></p>
        </div>
    {% endif %}
</body>
</html>