<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Management</title>
</head>
<body>
    <h1>User management</h1>
    <ul>
        <li><a href="{% url 'users:register' %}">Add a new user.</a></li>
        <li><a href="{% url 'users:login' %}">Authenticate existing user.</a></li>
        <li><a href="{% url 'users:change_password' %}">Change user password.</a></li>
    </ul>
</body>
</html>