<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
    {% if error_message %}
        <div style="background: indianred; color: darkred;border: solid 2px darkred;padding: 10px;">
            <p>{{ error_message }}</p>
            <p>
                <a href="{% url 'users:login' %}">Log in here</a>&nbsp; or
                <a href="{% url 'users:register' %}">Register a new user here.</a>
            </p>
        </div>
    {% endif %}
    <h2>User Login</h2>
    <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{ login_form.as_p }}
        <input type="submit" value="Log In">
        <script type="text/javascript">
            document.getElementById('id_password').setAttribute('type','password');
        </script>
    </form>
</body>
</html>