<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User registration</title>
</head>
<body>
    {% if has_registered %}
        <div style="background: palegreen; color: seagreen;border: solid 2px seagreen;padding: 10px;">
            <p>User {{ user.username }} has been registered.</p>
        </div>
    {% endif %}
    <h2>User Registration Form</h2>
    <form method="POST" action="{% url 'users:register' %}">
        {% csrf_token %}
        {{ user_registration_form.as_p }}
        <input type="submit" value="Register">
        <script type="text/javascript">
            document.getElementById('id_password').setAttribute('type','password');
        </script>
    </form>
</body>
</html>