{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<!--Current Language: {{ LANGUAGE_CODE }}-->
<p>{% trans 'Willkommen auf unserer Seite.' %}</p>

{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<label for="timezone">Timezone</label>
<select name="timezone">
    {% for tz in timezones %}
        <option value="tz" {% if tz == TIME_ZONE %}selected{% endif %}>{{ tz }}</option>
    {% endfor %}
</select>
<input type="submit" value="Set">