/* style.css */ 
body {    
	background: #FFFFFF;    
	color:      #000000;    
	font-family: Segoe UI, sans-serif; 
} 
table {    
	border-collapse: collapse;    
	margin: 5px; 
} 
tr:nth-child(even) {
	background-color: #FFFFFF
} 
tr:nth-child(odd) {
	background-color: #EDF3FE
} 
td, th {
    border: solid #000000 1px;
    text-align: left;
    padding: 5px;
} 
#header {
    font-weight: bold;
    font-size: 160%;
    text-align: center;
    border-bottom: solid #334B66 4px;
    margin-bottom: 10px;
}
#menu {    
	position: absolute;
    left: 5px;
    width: 180px;
    display: block;
    background-color: #dddddd;
} 
#user {
    font-size: 90%;
    font-style:italic;
    padding: 3px;
} 
#content {
    margin-left: 200px; 
}
