*{
	box-sizing:border-box;
	font-family:'Segoe UI','Helvetica Neue';
}
body{
	background:#ECECEC;
}
.main-content{
	background:#FFFFFF;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	padding:25px;
	border:none;
	border-left:solid 5px #FF6000;
	box-shadow:1px 1px 10px #000000;
}
.form-label{
	margin:0px;
	margin-bottom:10px;
}
.text-input{
	width:100%;
	margin-top:10px;
	height:30px;
	font-size:20px;
	padding:0px;
	outline:none;
	border:solid 1px #FF6000;
	padding-left:2px;
	font-weight:500;
	box-shadow:0px 0px 0px #FF6000;
}
.text-input:focus{
	transition:box-shadow .1s;
	box-shadow:0px 0px 5px #FF6000;
}
.results{
	padding:25px;
	border:solid 1px #CCCCCC;
	border-left:solid 5px #CC0000;
	margin-top:10px;
	word-wrap:break-word;
}
.results h1{
	color:#CCCCCC;
}
.results p span{
	border-bottom:dotted 2px #CCCCCC;
}