<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--MATERIAL CSS & JS IMPORTS-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <title>
        {% block page_title %}
            Carmos Drive
        {% endblock %}
    </title>
</head>
<body class="grey lighten-4">
    <!--Navigation bar-->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal darken-4">
                <a href="#" class="brand-logo valign-wrapper" >Carmos Drive</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!--Main Content-->
    <div class="row">
        <!--Sidebar-->
        <div class="col s3"></div>
        <!--Files View-->
        <div class="col-s9"></div>
    </div>
</body>
</html>