.livescore-wrap {
	margin: 0 auto;
	width: 500px;
	font-family: Arial, Helvetica, sans-serif;
}

table {
	width: 100%;
	table-layout: fixed;
}

.status {
	color: blue;
}

.score {
	color: red;
}

#league {
	background-color: #d9edf7;
	font-size: 11px;
	text-align: center;
}

#match {
	font-size: 10px;
	text-align: center;
	width: 80px;
}

