*{
    box-sizing: border-box;
    font-family: "Segoe UI",Sans-Serif;
}
.carl-player{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    background: orangered;
    padding: 0px;
    box-shadow: 0px 0px 20px 0px grey;
    display: none;
}
.carl-player-controls{
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    cursor: pointer;
    color: black;
}
.carl-player-progress-bar{
    height: 10px;
    width: 55%;
    background: white;
    margin-top: 20px;
    border: solid 1px white;
    box-shadow: inset 0px 0px 5px 0px orangered;
    position: relative;
}
.carl-player-time{
    background: black;
    color: white;
    height: inherit;
    width: 200px;
    padding: 15px 10px 15px 10px;
    display: inline-block;
    float: right;
    font-weight: 300;
    font-size: 14px;
}
.carl-player-song-attributes{
    display: inline-block;
    width: 200px;
    height: inherit;
    background: black;
    color: white;
    position: relative;
    padding-left: 10px;
}
.carl-player-image{
    display: inline;
    vertical-align: top;
}
.carl-player-progress-buffered{
    position: absolute;
    height: 8px;
    width: 0;
    background: darkgrey;
    opacity: 0.7;
}
.carl-player-progress-current{
    position: absolute;
    height: 8px;
    opacity: 0.7;
    width: 0;
    background: black;
}
.carl-player-hover-time{
    color: white;
    background: black;
    position: absolute;
    width: 60px;
    height: 20px;
    left:-30px;
    top:-25px;
    text-align: center;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px black;
    transition: opacity .5s;
}
.carl-player-hover-time:after{
    content: '';
    position: absolute;
    left: 50%;
    top:100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}