*{
    box-sizing: border-box;
    font-family: "Segoe UI";
}
a{
    text-decoration: none;
}

.result{
    border-top: solid 1px black;
    margin-top: 10px;
}
.tab{
    width: inherit;
    background: white;
    box-shadow: grey 0px 0px 10px 0px;
    padding: 5px;
    margin-bottom: 10px;
}
.tab-element{
    display: inline-block;
}
.result-count{
    color: white;
    background: orangered;
    padding: 2px;
}
.tab-group{
    display: inline;
    padding-right: 10px;
    border-right: solid 1px grey;
}
.result-container{
    display: inline-block;
    padding:0px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: lightgrey 0px 0px 10px 0px;
    width: 255px;
    border-left: solid 5px orangered;
}
.result-attribute{
    display: block;
    width: inherit;
    height: auto;
    margin: 0px;
    font-weight: 400;
    margin-bottom: 3px;
    margin-left: 5px;
}
.center{
    text-align: center;
}
.main-title{
    color: orangered;
}
.preview{
    cursor: pointer;
}