/**********************
****WWW.NEWSLINKS.COM**
****CodeBy : carmos****
****12/10/2015*********
***********************
*/
*{
	box-sizing:border-box;
	font-family:Segoe UI;
}
body{
	background:#ECECEC;
}
.navigation-bar{
	position:fixed;
	top:0px;
	left:0px;
	height:110px;
	width:100%;
	background:#000000;
	padding:15px;
	box-shadow:0px 0px 10px #000000;
}
.logo-name{
	color:#FFFFFF;
	margin:0px;
	width:auto;
	display:inline;
}
.navigation-menu{
	list-style:none;
	margin:0px;
	padding:0px;
	width:100%;
}
.navigation-menu-item{
	color:#FFFFFF;
	float:left;
	margin-right:35px;
}