<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
</head>
<body>
    {% if success_message %}
        <h3 style="color: seagreen;">{{ success_message }}</h3>
    {% endif %}

{#    {% if file_forms.has_errors %}#}
{#        {% for error in file_forms.errors %}#}
{#            <h3 style="color:red;">{{ error }}</h3>#}
{#        {% endfor %}#}
{#    {% endif %}#}

    {% if file_form.file.errors %}
        <div style="padding: 10px;background: red;color: darkred;">
            {{ file_form.file.errors }}
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" action="{% url 'forms:file_upload' %}">
        {% csrf_token %}
        {{ file_form.as_p }}
        <input type="submit" value="Upload File">
    </form>
</body>
</html>