<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>

    <form method="POST" action="{% url 'forms:index' %}">
        {% csrf_token %}
        {{ name_form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <hr>
    <form method="POST" action="{% url 'forms:index' %}">
        {% csrf_token %}
        {{ contact_form.as_ul }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>