<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if success_message %}
        <div style="padding: 10px;background: palegreen;color: seagreen;">
            <p>{{ success_message }}</p>
        </div>
    {% endif %}
    <form action="{% url 'views:add_book' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ book_form.as_p }}
        <input type="submit" value="Add Book">
    </form>
</body>
</html>