{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
            <b>
                <a {# href="/polls/{{ question.id }}/" #}
                    href="{% url 'polls:detail' question.id %}"
                   target="_blank">{{ question.question_text }}</a>
            </b>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}