{% extends 'music/base.html' %}

{% block title %}Album Details{% endblock %}

{% block body %}

    <image src="{{ album.album_logo.url }}" height="200px" width="200px"/>

    <h1>{{ album.album_title }}</h1>
    <h3>{{ album.artist }}</h3>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

{#    <form action="{% url 'music:favorite' album.id %}" method="post">#}
{#        {% csrf_token %}#}
{##}
{#        {% for song in album.song_set.all %}#}
{#            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">#}
{#            <label for="song{{ forloop.counter }}">{{ song.song_title }}.{{ song.file_type }}#}
{#                {% if song.is_favorite %}#}
{#                    <img src="http://i.imgur.com/b9b13Rd.png">#}
{#                {% endif %}#}
{#            </label>#}
{#            <br>#}
{#        {% endfor %}#}
{#        <input type="submit" value="Favorite">#}
{#    </form>#}

{% endblock %}