<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Mail App</title>
</head>
<body>
    <h1 style="color: mediumseagreen;">Simple mail app</h1>
    {% if mail_status %}
        {% if mail_status is 0 %}
            <div style="border:solid 2px darkred;background: indianred;color: darkred;padding: 10px;">
                <p><b>Mail Sending Failure: </b></p>
                <p>Mail has been unsuccessfuly sent. Try again.</p>
            </div>
        {% else %}
            <div style="border:solid 2px darkgreen;background: lightgreen;color: darkgreen;padding: 10px;">
                <p><b>Mail Sending Success: </b></p>
                <p>Mail has been successfuly sent.</p>
            </div>
        {% endif %}
    {% endif %}
    <form enctype="multipart/form-data" action="{% url 'mail:send' %}" method="POST">
        {% csrf_token %}
        {{ mail_compose_form.as_p }}
        <input type="submit" value="Send mail">
    </form>
</body>
</html>