<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Files Upload</title>
</head>
<body>
    <div style="text-align: center;">
        <fieldset>
            <h1 style="color: seagreen;">Files Upload Form</h1>
            <form method="post" action="{% url 'files_upload:upload' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="files_input">Files Input :</label>&nbsp;
                <input type="file" id="files_input" name="files_input" multiple><br><br>
                <input type="submit" value="Upload File">
            </form>
        </fieldset>
    </div>
</body>
</html>