*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
/* =====MASONRY===== */
.masonry{
	/* NUMBER OF COLUMNS*/
	column-count:1;
	column-gap:10px;
	-moz-column-gap:10px;
	-webkit-column-gap:10px;
	-moz-column-count:1;
	-webkit-column-count:1;
}
.item{
	display:inline-block;
	margin:5px;
	width:100%;
	padding:0px;
	height:auto;
}
/* =====TABLETS=====*/
@media only screen and (min-width: 600px){
	.masonry{
		column-count:3;
		-moz-column-count:3;
		-webkit-column-count:3;	
	}
}
/* =====LAPTOPS/TABLETS/TV======*/
@media only screen and (min-width: 768px){
	.masonry{
		column-count:4;
		-moz-column-count:4;
		-webkit-column-count:4;
	}
}