body{
	background:#ECECEC;
}
.navigation-bar{
	background:rgba(255,255,255,0.75);
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	box-shadow:0px 1px 5px #0000FF;
	border-bottom:solid 2px #0000FF;
}
.navigation-bar-title{
	text-shadow:1px 1px 5px #0000FF;
	color:#FFFFFF;
}
h1,h2,h3,h4,h5,h6{
	color:#000000;
	font-family:'Segoe UI Light','Segoe UI';
	display:inline-block;
	margin:0px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
}
input{
	display:inline-block;
	height:35px;
	width:100%;
	border:solid 1px #0000FF;
	font-family:Segoe UI;
	box-shadow:0px 0px 0px #0000FF;
	padding-left:5px;
	font-size:20px;
	margin-bottom:10px;
	background:rgba(255,255,255,0.75);
}
input:focus,input:hover{
	outline:none;
}
.search{
	width:100%;
	padding:10px;
	margin:0px;
	padding-bottom:0px;
	position:relative;
}
.search-results:before{
	content:"";
	height:17px;
	width:17px;
	background:#FFFFFF;
	position:fixed;
	top:101px;
	left:25%;
	z-index:1;
	border:solid 1px #0000FF;
	transform:rotate(45deg);
	border-right:none;
	border-bottom:none;
}
.search-results{
	background:#FFFFFF;
	font-family:Segoe UI;
	border:solid 2px #0000FF;
	width:98.5%;
	position:absolute;
	z-index:1;
	margin-right:2.5%;
	display:none;
	max-height:200px;
	overflow-Y:scroll;
}
@media only screen and (max-width: 600px){
	.search-results{
		width:97%;
	}
}
a{
	text-decoration:none;
	width:100%;
	padding-left:10px;
	padding-right:10px;
	display:block;
	font-size:18px;
	font-family:Segoe UI;
}
a:hover{
	background:#ECECEC;
}
.content{
	margin-top:150px;
	padding:0px;
	width:100%;
}
hr{
	border:solid 1px #0000FF;
	border-top:none;
	border-left:none;
	border-right:none;
}
.content div  h4{
	display:block;
}
.item{
	background:#FFFFFF;
}
img{
	margin:0px;
}
img:hover{
	opacity:0.25;
}
.item h6{
	color:#B0B0B0;
}
.item a{
	padding-bottom:10px;
}